
body {
  background-color: #FFC0CB; 
}

h1 {
  color: #FF69B4; 
}
/* Border color */
div {
  border: 2px solid #FF1493; 
}
.giant-monkee {
	display: 90vw;
	max-height: 85vh;
	height: auto;
	object-fit: contain;
	margin: 20px auto;
}
